%h3= t("messages.mail_from.request_to")
= "#{t("messages.mail_from.email")}: #{@email}"
%br
= "#{t("messages.mail_from.full_name")}: #{@full_name}"
%br
= "#{t("messages.mail_from.organization")}: #{@organization}"