= form_for [:infrastructure, resource], :html => {:class => 'map-selector form-horizontal hotkeys large-form',
           'data-namespace' => resource.class.to_s.underscore.gsub('/', '_')} do |f|
  %fieldset
    %legend
      = defined?(legend) && legend
    = render_notice
    = error_explanation resource

    = form_group f, :name, :text_field
    = owner_select f
    = form_group f, :address, :text_area
    = form_group f, :description, :text_area
    = form_group f, :number, :text_field
    = form_group f, :owner, :text_field
    = form_group f, :operating_organization, :text_area
    = form_group f, :category, :text_field
    = form_group f, :district, :text_field
    = form_group f, :relevance, :text_field, :class => 'date-picker'

    = map_field f, true
    .form-actions
      = submit_btn f
      = cancel_btn f