= form_for [@page_fragment], :html => {:multipart => true,:class => "form-horizontal stopvor-form double-submit-protector"} do |f|
  %fieldset
    %legend= defined?(legend) && legend
    = error_explanation @page_fragment
    = f.cktext_area :content, :ckeditor => {:height => 500}
    .form-actions
      = f.submit t("buttons.save"),:class => 'btn btn-primary'
      = link_to t("buttons.cancel"), page_fragments_path, :class => 'btn'