= form_for [:infrastructure, resource], :html => {:class => 'map-selector form-horizontal hotkeys large-form',
           'data-namespace' => resource.class.to_s.underscore.gsub('/', '_')} do |f|
  %fieldset
    %legend
      = defined?(legend) && legend
    = render_notice
    = error_explanation resource

    = form_group f, :name, :text_field
    = owner_select f
    = form_group f, :city_id, :select, options_from_collection_for_select(@cities, :id, :name, :selected => f.object.send(:city_id)), {:include_blank => true}, {:class => 'simple-chosen', "data-placeholder" => t("helpers.placeholder.default")}
    = form_group f, :owner, :text_field
    = form_group f, :operating_organization, :text_field
    = form_group f, :year_start, :text_field, :class => 'positive-integer'
    = form_group f, :installed_power, :text_field, :class => "numeric"
    = form_group f, :having_power, :text_field, :class => "numeric"
    = form_group f, :generators_brand, :text_field
    = form_group f, :generators_power, :text_field, :class => "numeric"
    = form_group f, :generators_release_year, :text_field, :class => 'positive-integer'
    = form_group f, :relevance, :text_field, :class => 'date-picker'

    = map_field f, true
    .form-actions
      = submit_btn f
      = cancel_btn f