= form_for [:infrastructure, resource], :html => {:class => 'map-selector form-horizontal hotkeys large-form',
           'data-namespace' => resource.class.to_s.underscore.gsub('/', '_'), 'data-map-selector' => 'line'} do |f|
  %fieldset
    %legend
      = defined?(legend) && legend
    = render_notice
    = error_explanation resource

    = form_group f, :name, :text_field
    = owner_select f
    = form_group f, :description, :text_area
    = form_group f, :owner, :text_field
    = form_group f, :operating_organization, :text_field
    = form_group f, :year_start, :text_field, :class => 'positive-integer'
    = form_group f, :power, :text_field, :class => 'numeric'
    = form_group f, :relevance, :text_field, :class => 'date-picker'

    = map_field f

    .form-actions
      = submit_btn f
      = cancel_btn f